{% extends 'base.html.twig' %}

{% block title %}Circuit index{% endblock %}

{% block body %}
    <h1>Circuit index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>NomC</th>
                <th>ListeC</th>
                <th>NbrbusC</th>
                <th>HoraireC</th>
                <th>DistanceC</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for circuit in circuits %}
            <tr>
                <td>{{ circuit.nomC }}</td>
                <td>{{ circuit.listeC }}</td>
                <td>{{ circuit.nbrbusC }}</td>
                <td>{{ circuit.horaireC ? circuit.horaireC|date('Y-m-d') : '' }}</td>
                <td>{{ circuit.distanceC }}</td>
                <td>
                    <a href="{{ path('admin_circuit_show', {'idC': circuit.idC}) }}">show</a>
                    <a href="{{ path('admin_circuit_edit', {'idC': circuit.idC}) }}">edit</a>

    {{ include('circuitAdmin/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_circuit_new') }}">Create new</a>
{% endblock %}
