{% extends 'front.html.twig' %}

{% block title %}Ajouter une maintenance{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <h1>Ajouter une maintenance</h1>

               {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.date_entretien) }}
        {{ form_widget(form.date_entretien, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.date_entretien) }}
    </div>
    <div class="form-group">
        {{ form_label(form.description) }}
        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.description) }}
    </div>
    <div class="form-group">
        {{ form_label(form.bus) }}
        {{ form_widget(form.bus, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.bus) }}
    </div>     
             <button type="submit" class="btn btn-primary">Ajouter</button>
                {{ form_end(form) }}

                <a href="{{ path('app_list_maintenance') }}">Retour à la liste des maintenances</a>
            </div>
        </div>
    </div>
{% endblock %}
