{% extends 'basepage.html.twig' %}

{% block title %}Stations{% endblock %}

{% block display %}Stations{% endblock %}

{% block breadcrumb %}Stations{% endblock %}

{% block content %}
    <h1>Stations</h1>
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-0 feature-row">
        {% for station in stations %}
        
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                    <div class="feature-item border h-100 p-5">
                        <div style="margin: auto; padding: 40px;" class="btn-square bg-light rounded-circle mb-4" style="width: 64px; height: 64px;">
                    <a href="{{ path('app_station_show', {'idS': station.idS}) }}">show</a>
                        </div>
                        <h5 class="mb-3">{{ station.nomS }}</h5>
                        <p class="mb-0">Adresse: {{ station.adresseS }}</p>
                <p>Ligne: {{ station.ligneS }}</p>
                <p>Horaire: {{ station.horaireS ? station.horaireS|date('Y-m-d') : '' }}</p>
                <p>Equipement: {{ station.equipementS }}</p>
                <p>Commentaire: {{ station.commentaireS }}</p>
                <p>Circuit: {{ station.idC }}</p>
                    </div>
                </div>
        {% else %}
        
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">no records found
                </div>
        {% endfor %}
        </div>
        </div>
        </div>
{% endblock %}
