{% extends 'front.html.twig' %}
{% block title %}Stations{% endblock %}

{% block javascripts %}
<script src="{{ asset('front/assets/vendor/purecounter/purecounter_vanilla.js') }}"></script>
<script src="{{ asset('front/assets/vendor/aos/aos.js') }}"></script>
<script src="{{ asset('front/assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('front/assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
<script src="{{ asset('front/assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
<script src="{{ asset('front/assets/vendor/swiper/swiper-bundle.min.js') }}"></script>
<script src="{{ asset('front/assets/vendor/waypoints/noframework.waypoints.js') }}"></script>
<script src="{{ asset('front/assets/vendor/php-email-form/validate.js') }}"></script>

<!-- Template Main JS File -->
<script src="{{ asset('front/assets/js/main.js') }}"></script>
{% endblock %}
{% block stylesheets %}
<link href="{{ asset('front/assets/img/favicon.png') }}" rel="icon">
<link href="{{ asset('front/assets/img/apple-touch-icon.png') }}" rel="apple-touch-icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

 <!--Vendor CSS Files -->

<link href="{{ asset('front/assets/vendor/aos/aos.css') }}" rel="stylesheet">
<link href="{{ asset('front/assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ asset('front/assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
<link href="{{ asset('front/assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
<link href="{{ asset('front/assets/vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
<link href="{{ asset('front/assets/vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="{{ asset('front/assets/css/style.css') }}" rel="stylesheet">

 <style>
        .pagination-wrapper {
          display: flex;
          justify-content: center;
          margin-top: 30px;
        }
    </style>
{% endblock %} 


{% block body %}
	<h1>Stations</h1>

	{{ knp_pagination_render(stations) }}

	<div class="container-xxl py-5">
		<div class="container">
			<div class="row g-0 feature-row">
				{% for station in stations %}
					<div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
						<div class="feature-item border h-100 p-5">
							<img style="height: 240px; object-fit: cover;" class="img-fluid" src="{{ asset('/uploads/' ~ station.image) }}" alt="">
							<div style="margin: auto; padding: 20px 0 0 0; width: 64px; height: 64px;" class="btn-square bg-light rounded-circle mb-4">
								<a href="{{ path('app_station_show', {'id': station.id}) }}">show</a>
							</div>
							<h5 class="mb-3">{{ station.nomS }}</h5>
							<p class="mb-0">Adresse:
								{{ station.adresseS }}</p>
							<p>Ligne:
								{{ station.ligneS }}</p>
							<p>Horaire:
								{{ station.horaireS ? station.horaireS|date('Y-m-d') : '' }}</p>
							<p>Equipement:
								{{ station.equipementS }}</p>
							<p>Commentaire:
								{{ station.commentaireS }}</p>
							<p>Circuit:
								{{ station.circuit }}</p>
						</div>
					</div>
				{% else %}
					<div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">no records found
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
	
	{{ knp_pagination_render(stations) }}
{% endblock %}
